.turtle-file {
  padding: .5em;
  display: flex;
  flex-direction: column;
  &:not(:last-child) {
    border-bottom: 1px solid $gray;
  }
  &:last-child {
    flex: 1;
    overflow-y: auto;
  }

  h2 {
    font-size: 1em;
    margin-bottom: .5em;
  }

  .turtle-file-select {
    display: flex;
    margin-bottom: .5em;

    select {
      flex: 1;
      margin-right: .5em;
    }
  }

  .turtle-buttons {
    display: flex;
    border-bottom: 0;

    button {
      flex: 1;
      margin: 0;
      &:not(:last-child) {
        margin-right: .5em;
      }
    }
  }

  .turtle-examples {
    flex: 1;

    h3 {
      font-size: 1em;
      font-weight: bold;
      margin-bottom: .5em;
    }

    ol {
      list-style-type: none;
      padding: 0;
      margin: 0 0 1em;
    }

    li {
      padding: .125em .5em;
      cursor: pointer;
      &:hover {
        background: $green;
        color: #fff;
      }
    }
  }
}
