{% extends 'base.html.twig' %}

{% block header %}
  <h1>{{ app.user.firstname }} {{ app.user.surname }}’s Files</h1>
{% endblock %}

{% block main %}
  <p>File handling has not yet been implemented. Please check back here soon.</p>
{% endblock %}
