{% extends 'base.html.twig' %}

{% block header %}
  <h1>Reset Password</h1>
{% endblock %}

{% block main %}
  <p>You can set a new password using the form below. This page will only remain available for 24 hours.</p>
  <div class="form">
    {{ form_start(resetPasswordForm) }}
      {{ form_row(resetPasswordForm.password) }}
      {{ form_row(resetPasswordForm._token) }}
      <div class="form-buttons">
        <button type="submit" class="green button">Reset Password</button>
      </div>
    {{ form_end(resetPasswordForm) }}
  </div>
{% endblock %}
