@import "../constants.scss";
@import "bits/buttons.scss";
@import "bits/checkboxes.scss";
@import "system/body.scss";
@import "system/controls.scss";
@import "system/main.scss";
@import "system/menu.scss";
@import "components/canvas.scss";
@import "components/comments.scss";
@import "components/display.scss";
@import "components/editor.scss";
@import "components/memory.scss";
@import "components/output.scss";
@import "components/pcode.scss";
@import "components/syntax.scss";
@import "components/usage.scss";
@import "components/vars.scss";

.turtle {
  min-height: 700px;
  height: 100%;
  display: grid;
  background: $darkgray-transparent;
  &.ready {
    grid-template-rows: auto minmax(0, 1fr);
  }

  .turtle-loading {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;

    p {
      grid-row: 2;
      grid-column: 2;
      color: #fff;
      margin: 0;
      font-size: 1.25em;
    }
  }
}
