@import "../constants.scss";
@import "controls.scss";
@import "system.scss";
@import "menu.scss";
@import "main.scss";
@import "buttons.scss";
@import "checkboxes.scss";
@import "file.scss";
@import "filename.scss";
@import "code.scss";
@import "usage.scss";
@import "lexemes.scss";
@import "pcode.scss";
@import "turtle.scss";
@import "canvas.scss";
@import "console.scss";
@import "output.scss";
@import "memory.scss";
@import "settings.scss";


.turtle {
  min-height: 700px;
  height: 100%;
  display: grid;
  background: $darkgray-transparent;
  &.ready {
    grid-template-rows: auto minmax(0, 1fr);
  }

  .turtle-loading {
    display: grid;
    height: 100%;
    grid-template-rows: 1fr auto 1fr;
    grid-template-columns: 1fr auto 1fr;

    p {
      grid-row: 2;
      grid-column: 2;
      color: #fff;
      margin: 0;
      font-size: 1.25em;
    }
  }
}
