@import "../constants.scss";

.turtle-main {
  height: 100%;

  @media (min-width: $break1) {
    margin-left: 3em;
  }

  @media (min-width: $break2) {
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    grid-template-columns: 1fr $tabs-width;
  }

  .turtle-main-half {
    display: none;
    height: 100%;
    grid-template-rows: auto 1fr;

    &.turtle-active {
      display: grid;
    }

    @media (min-width: $break2) {
      display: grid;

      &:first-child {
        border-right: 1px solid $gray;
      }
    }
  }

  .turtle-blocks {
    overflow-y: auto;
  }

  .turtle-block {
    display: none;

    &.turtle-active {
      display: flex;
      flex-direction: column;
      height: 100%;
      background: #fff;
      overflow: auto;
    }
  }
}
