@import "../constants.scss";

.turtle-main {
  height: 100%;

  @media (min-width: $break1) {
    margin-left: 3em;
  }

  @media (min-width: $break2) {
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    grid-template-columns: 6fr 7fr;
  }

  .turtle-blocks {
    display: none;
    height: 100%;

    &.turtle-active {
      display: block;
    }

    @media (min-width: $break2) {
      display: block;

      &:first-child {
        border-right: 1px solid $gray;
      }
    }
  }

  .turtle-block {
    display: none;

    &.turtle-active {
      display: flex;
      flex-direction: column;
      height: 100%;
      background: #fff;
      overflow: auto;
    }
  }
}
