@import "form.scss";
@import "table.scss";
@import "documentation.scss";
@import "dashboard.scss";
@import "tabs.scss";

.main {
  background: #fff;
  min-height: 30rem;
  padding: 1em;
  @media (min-width: $break1) {
    padding: 1em 2em;
  }
  @media (min-width: ($break1 + $break2) / 2) {
    padding: 1em 7em;
  }
  @media (min-width: $break2) {
    padding: 2em 10em;
  }
  &.run {
    background: transparent;
    padding: 0;
    height: $system-default-height;
  }

  h1, h2, h3, h4 {
    margin-top: 0;
    margin-bottom: 1rem;
  }

  h1 {
    font-size: 1.75em;
  }

  h2 {
    font-size: 1.5em;
  }

  h3 {
    font-size: 1.25em;
  }

  h4 {
    font-size: 1.125em;
  }

  p, blockquote {
    text-align: justify;
  }

  p {
    margin: 0 0 1em;
  }

  blockquote {
    border-left: 3px solid $gray;
    padding-left: 1em;
    margin-left: 2em;
    cite {
      display: block;
      text-align: right;
    }
  }
}
