files/
node_modules/
public/css/
public/index.js
public/service-worker.js
public/service-worker.js.map
public/workbox-*.js
public/workbox-*.js.map
var/
vendor/
.env.local
.env.local.php
.env.*.local
.phpunit
.phpunit.result.cache
phpunit.xml
