files/
node_modules/
public/index.css
public/index.js
public/service-worker.js
public/precache-manifest.*.js
var/
vendor/
.env.local
.env.local.php
.env.*.local
.phpunit
.phpunit.result.cache
phpunit.xml
