@import "constants.scss";

body {
  font-family: $system-font;
  color: $darkgray;
  margin: 0;
}

header {
  background: $blue;
  display: flex;
  align-items: baseline;
  margin-bottom: 1em;

  img {
    display: block;
    padding: 1em;
  }

  h1 {
    font-size: 1.25em;
    color: #fff;
    margin: 0;
  }
}

main {
  padding: 1em;
}

p {
  margin: 0 0 1em;
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 1em;

  a {
    background: $blue;
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 5px;
    &:hover {
      background: darken($blue, 10%);
    }
  }
}
