@import "constants.scss";

body {
  font-family: $system-font;
  color: $darkgray;
  margin: 0;
}

.header {
  background: $blue;

  img {
    display: block;
    float: left;
    margin: .85em;
    height: 2.5em;
  }

  h1 {
    font-size: 1.25em;
    color: #fff;
    padding: 1em;
    margin: 0;
  }
}

.main {
  padding: 1em;
}

p {
  margin: 0 0 1em;
}

.button {
  text-align: center;
  margin-bottom: 1em;

  a {
    display: inline-block;
    background: $blue;
    color: #fff;
    text-decoration: none;
    padding: .5em 1em;
    border-radius: 5px;
    &:hover {
      background: darken($blue, 10%);
    }
  }
}
