@import "constants.scss";
@import "site/index.scss";
@import "turtle/index.scss";

* {
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: $gray transparent;

  &::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: $gray;
  }
}

html {
  font-family: $system-font;
  min-width: 320px;
  min-height: 100vh;
}
