<nav class="system-menu" data-menu="system">
  {% include 'system/menu/file.html.twig' %}
  {% include 'system/menu/edit.html.twig' %}
  {% include 'system/menu/view.html.twig' %}
  {% include 'system/menu/compile.html.twig' %}
  {% include 'system/menu/run.html.twig' %}
  {% include 'system/menu/options.html.twig' %}
  {% include 'system/menu/examples.html.twig' %}
</nav>
