<div class="system-sub-menu">
  <a data-action="toggleMenu" data-arg="options">
    <i class="fa fa-cogs" title="Options"></i>
    <span>Options</span>
    <i class="fa fa-caret-right"></i>
  </a>
  <div class="system-sub-menu" data-menu="options">
    <label>
      <input type="radio" name="canvasStartSize" data-binding="canvasStartSize" value="500">
      <span>Start programs with 500x500 Canvas and Resolution</span>
    </label>
    <label>
      <input type="radio" name="canvasStartSize" data-binding="canvasStartSize" value="1000">
      <span>Start programs with 1000x1000 Canvas and Resolution</span>
    </label>
    <label>
      <input type="radio" name="canvasStartSize" data-binding="canvasStartSize" value="2000">
      <span>Start programs with 2000x2000 Canvas and Resolution</span>
    </label>
    <hr data-mode="expert,machine">
    <label data-mode="expert,machine">
      <input type="checkbox" data-binding="autoCompileOnLoad">
      <span>Auto-Compile on loading</span>
    </label>
    <label data-mode="expert,machine">
      <input type="checkbox" data-binding="autoRunOnLoad">
      <span>Auto-Run on loading</span>
    </label>
    <label data-mode="expert,machine">
      <input type="checkbox" data-binding="autoFormatOnLoad">
      <span>Auto-Format on loading</span>
    </label>
    <hr>
    <a data-action="saveSettings"><span>Save current settings to options file</span></a>
    <a data-action="resetSettings"><span>Reset settings to default</span></a>
  </div>
</div>
