<div class="system-tab-pane active" data-component="canvas-tab">
  <div class="canvas">
    <div class="canvas-left">
      <div></div>
      <div class="canvas-coords" data-component="canvas-y-coords">
        <span>0</span>
        <span>250</span>
        <span>500</span>
        <span>750</span>
        <span>999</span>
      </div>
    </div>
    <div class="canvas-right">
      <div class="canvas-coords" data-component="canvas-x-coords">
        <span>0</span>
        <span>250</span>
        <span>500</span>
        <span>750</span>
        <span>999</span>
      </div>
      <div class="canvas-wrapper">
        <canvas width="1000" height="1000" data-component="canvas"></canvas>
      </div>
    </div>
  </div>
  <pre class="console" data-component="console"></pre>
</div>
