<div class="controls">
  <select aria-label="tab" data-binding="system-tab"></select>
  <button title="RUN" data-action="play"><i class="fa fa-play" aria-hidden="true"></i></button>
  <button title="HALT" disabled="disabled" data-action="halt"><i class="fa fa-stop" aria-hidden="true"></i></button>
  <button title="Maximize" data-action="maximize"><i class="fa fa-expand" aria-hidden="true"></i></button>
</div>
