<div class="editor" data-component="editor">
  <ol class="line-numbers" data-component="editor-line-numbers"></ol>
  <div class="code-wrapper">
    <textarea data-component="text-input" wrap="off" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="true"></textarea>
    <pre data-component="text-display"></pre>
  </div>
</div>
