<div class="editor" data-component="editor">
  <ol class="line-numbers"></ol>
  <div class="code-wrapper">
    <textarea wrap="off" spellcheck="false" autocapitalize="off" autocomplete="off" autocorrect="off" autofocus="true"></textarea>
    <pre><code></code></pre>
  </div>
</div>
