<div class="system-tab-pane" data-component="memory-tab">
  <div class="system-buttons"><button>Show Current State</button></div>
    <div class="memory-container">
      <table>
        <thead>
          <tr>
            <td>Stack</td>
            <th>+0</th>
            <th>+1</th>
            <th>+2</th>
            <th>+3</th>
            <th>+4</th>
            <th>+5</th>
            <th>+6</th>
            <th>+7</th>
          </tr>
        </thead>
        <tbody data-component="memory-stack-table-body"></tbody>
      </table>
  </div>
  <div class="memory-container">
    <table>
      <thead>
        <tr>
          <td>Heap</td>
          <th>+0</th>
          <th>+1</th>
          <th>+2</th>
          <th>+3</th>
          <th>+4</th>
          <th>+5</th>
          <th>+6</th>
          <th>+7</th>
        </tr>
      </thead>
      <tbody data-component="memory-heap-table-body"></tbody>
    </table>
  </div>
</div>
