<div class="system-tab-pane" data-tab="pcode" data-mode="expert,machine">
  <div class="system-checkboxes">
    <label><input type="radio" name="pcodeOptions1" value="assembler" data-binding="assembler">Assembler Code</label>
    <label><input type="radio" name="pcodeOptions1" value="machine" data-binding="assembler">Machine Code</label>
    <label><input type="radio" name="pcodeOptions2" value="decimal" data-binding="decimal">Decimal</label>
    <label><input type="radio" name="pcodeOptions2" value="hexadecimal" data-binding="decimal">Hexadecimal</label>
  </div>
  <ol class="pcode" data-component="pcodeList"></ol>
</div>
