<div class="turtle-properties">
  <div class="turtle-property">
    <span class="turtle-label">X</span>
    <span class="turtle-value" data-component="turtx-display"></span>
  </div>
  <div class="turtle-property">
    <span class="turtle-label">Y</span>
    <span class="turtle-value" data-component="turty-display"></span>
  </div>
  <div class="turtle-property">
    <span class="turtle-label"><i class="fa fa-compass" aria-hidden="true"></i></span>
    <span class="turtle-value turtle-direction" data-component="turtd-display"></span>/<span class="turtle-value turtle-direction" data-component="turta-display"></span>
  </div>
  <div class="turtle-property">
    <span class="turtle-label"><i class="fa fa-pen" aria-hidden="true"></i></span>
    <span class="turtle-value turtle-pen" data-component="turtt-display"></span>
  </div>
  <div class="turtle-property">
    <span class="turtle-label"><i class="fa fa-palette" aria-hidden="true"></i></span>
    <span class="turtle-value turtle-colour" data-component="turtc-display"></span>
  </div>
</div>
