<div class="system-tab-pane" data-component="syntax-tab">
  <div class="syntax">
    <table class="syntax-table">
      <thead>
        <tr>
          <th>Lex</th>
          <th>Line</th>
          <th>String</th>
          <th class="wide">Type</th>
        </tr>
      </thead>
      <tbody data-component="syntax-table-body"></tbody>
    </table>
  </div>
</div>
