<div class="system-tab-pane" data-tab="syntax" data-mode="expert,machine">
  <div class="syntax">
    <table class="syntax-table">
      <thead>
        <tr>
          <th>Lex</th>
          <th>Line</th>
          <th>String</th>
          <th class="wide">Type</th>
        </tr>
      </thead>
      <tbody data-component="syntaxTableBody"></tbody>
    </table>
  </div>
</div>
