<div class="system-tab-pane" data-component="usage-tab">
  <div class="usage">
    <table class="usage-table">
      <thead>
        <tr>
          <th>Expression</th>
          <th>Level</th>
          <th>Count</th>
          <th>Program Lines</th>
        </tr>
      </thead>
      <tbody data-component="usage-table-body"></tbody>
    </table>
  </div>
</div>
