<div class="system-tab-pane" data-tab="usage" data-mode="normal,expert,machine">
  <div class="usage">
    <table class="usage-table">
      <thead>
        <tr>
          <th>Expression</th>
          <th>Level</th>
          <th>Count</th>
          <th>Program Lines</th>
        </tr>
      </thead>
      <tbody data-component="usageTableBody"></tbody>
    </table>
  </div>
</div>
