<h2>Colours</h2>
<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Name<br>Value</th>
      <th>No.</th>
      <th>Name<br>Value</th>
      <th>No.</th>
      <th>Name<br>Value</th>
      <th>No.</th>
      <th>Name<br>Value</th>
      <th>No.</th>
      <th>Name<br>Value</th>
    </tr>
  </thead>
  <tbody data-component="coloursTableBody"></tbody>
</table>
