<table>
  <thead>
    <tr>
      <th>No.</th>
      <th>Name</th>
      <th>No.</th>
      <th>Name</th>
      <th>No.</th>
      <th>Name</th>
      <th>No.</th>
      <th>Name</th>
    </tr>
  </thead>
  <tbody data-component="cursorsTableBody"></tbody>
</table>
