@import "../constants.scss";
@import "pwa.scss";
@import "container.scss";
@import "nav.scss";
@import "header.scss";
@import "notice.scss";
@import "main.scss";
@import "footer.scss";
@import "miscellaneous.scss";
@import "form.scss";
@import "table.scss";
@import "documentation.scss";
@import "dashboard.scss";
@import "tabs.scss";

.site {
  background-image: url('../images/oxford.jpg');
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  margin: 0;
  padding-top: 3em; // to offset the absolutely positioned nav bar at the top
  font-size: 16px;
  line-height: 1.5;
  color: $darkgray;
  overflow-y: scroll;
}
