@import "../constants.scss";

.pwa {
  margin: 0;
  height: 100vh;
  font-size: 16px;
  line-height: 1.5;
  color: $darkgray;
  .nav {
    display: none;
  }
  .container {
    max-width: none !important;
    height: 100% !important;
    margin: 0 !important;
    box-shadow: none !important;
    .header.run {
      display: none;
    }
    .main.run {
      height: 100%;
    }
  }
}
