@import "../constants.scss";

.main:not(.run) table {
  border-collapse: collapse;
  width: 100%;

  tr {
    border-bottom: 1px solid $gray;
  }

  th {
    text-align: left;
    background: $lightgray;
  }

  th, td {
    padding: .25em .5em;
  }
}
