{% extends 'base.html.twig' %}

{% block header %}
  <h1>Admin Area</h1>
{% endblock %}

{% block main %}
  <table>
    <thead>
      <tr>
        <th>username</th>
        <th>Firstname</th>
        <th>Surname</th>
        <th>Email</th>
      </tr>
    </thead>
    <tbody>
      {% for user in users %}
        <tr>
          <td>{{ user.username }}</td>
          <td>{{ user.firstname }}</td>
          <td>{{ user.surname }}</td>
          <td>{{ user.email }}</td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
