{% extends 'base.html.twig' %}

{% block header %}
  <h1>Admin Area</h1>
{% endblock %}

{% block main %}
  <div class="dashboard-buttons">
    <a href="{{ path('admin_users') }}" class="button green">
      <span class="icon"><i class="fa fa-users"></i></span>
      <span class="text">View all users</span>
    </a>
    <a href="{{ path('admin_email') }}" class="button green">
      <span class="icon"><i class="fa fa-envelope"></i></span>
      <span class="text">Send batch email</span>
    </a>
  </div>
{% endblock %}
