@import "main/editor.scss";
@import "main/filename.scss";
@import "main/misc.scss";
@import "main/properties.scss";
@import "main/tables.scss";
@import "main/tabs.scss";

.system-main {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr $tabs-width;
  grid-template-rows: minmax(0, 1fr);
  margin-left: 3em;

  .system-section {
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr;

    &:first-child {
      border-right: 1px solid $gray;
    }
  }
}
