.hidden {
  display: none !important;
}

.download {
  display: flex;
  align-items: baseline;

  h2 {
    flex: 1;
  }

  select, .button {
    margin-left: 1em;
  }

  .button {
    display: inline-block;
    padding: .5em 1em;
    white-space: nowrap;

    .icon {
      padding-right: .25em;
    }
  }
}

.csac-examples {
  list-style-type: none;
  padding-left: 1em;

  li {
    margin-bottom: .25em;
  }
}

.articles-list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin: .5em 0;
  padding: 0;
  list-style-type: none;

  li {
    margin: .5em;
  }

  img {
    height: 9em;
    border: 1px solid silver;
  }
}

.mugshot {
  display: none;
  @media (min-width: $break1) {
    display: block;
    float: right;
    margin-left: 1em;
    img {
      display: block;
      height: 9em;
    }
  }
}

.email-preview {
  height: 20em;
  border: 1px solid $gray;
  padding: .25em .5em;
  overflow: auto; 
}
