.turtle-properties {
  display: flex;
  justify-content: space-between;
  background: $lightgray;
  border-bottom: 1px solid $gray;
  padding: $system-padding;

  button {
    padding: .125em .5em;
  }

  .turtle-property {
    display: flex;
    align-items: baseline;
    font-size: .875em;

    .turtle-label, .turtle-value {
      padding: .25em .5em;
      white-space: nowrap;
    }

    .turtle-label {
      display: none;
      @media (min-width: $break1) {
        display: block;
        font-weight: bold;
      }
    }

    .turtle-value {
      background: #fff;
      text-align: center;
      width: 5em;
      overflow: hidden;

      &.turtle-pen {
        width: 3em;
      }

      &.turtle-colour {
        width: 2em;
        background: #000;
        color: transparent;
      }
    }
  }
}
