<h2>Windows System User Guide</h2>

<ol>
  <li><a href="#introduction">Introduction</a></li>
  <li><a href="#the-language-menu">The LANGUAGE Menu</a></li>
  <li><a href="#the-file-menu">The File Menu</a></li>
  <li><a href="#the-edit-menu">The Edit Menu</a></li>
  <li><a href="#the-view-menu">The View Menu</a></li>
  <li data-mode="expert"><a href="#the-compile-menu">The Compile Menu</a></li>
  <li data-mode="expert"><a href="#the-tabs-menu">The Tabs Menu</a></li>
  <li><a href="#the-run-menu">The Run Menu</a></li>
  <li><a href="#the-options-menu">The Options Menu</a></li>
  <li><a href="#the-examples-menu">The Examples Menu</a></li>
</ol>

<section id="introduction">
  <h3>Introduction</h3>
  <section id="downloading-and-setting-up">
    <h4>Downloading and Setting Up</h4>
    <p>The <i>Turtle System</i> is available to download as single Windows desktop executable file (EXE). No installation is required: simply double-click the file to run it.</p>
    <p>When you first attempt to run the file, Windows will probably warn you that it is of unknown origin, and therefore potentially unsafe. This is because our project does not have the funds available to pay for a code-signing certificate. To run the file, you will need to click ‘More Information’, and then ‘Run Anyway’.</p>
    <p>When you first run the file, you will also see a dialog prompt inviting you to create a personal Turtle directory. Once created, this directory will be used by default, and you will no longer see this prompt when you start the system in the future. You can bring it up manually, however, and modify your directory settings, through the Options menu. Please see the relevant entry under the Options section below for more details.</p>
  </section>
  <section id="about-this-guide">
    <h4>About this Guide</h4>
    <p>The <i>Turtle System</i> is designed for a wide range of users, from complete beginners who have never programmed before, to more advanced students who want to start learning about compilers, machine code, and memory management. It also has a number of features aimed at teachers (e.g. to aid with marking, or to customize&mdash;and lock&mdash;the system so as to minimize distractions in the classroom). To facilitate all this, the system has four distinct viewing modes (available thtough the VIEWING MODE dialog under the View menu):</p>
    <ol>
      <li>Simple Mode: a minimum set of features, useful for beginners.</li>
      <li>Normal Mode: the default, with a few more features enabled.</li>
      <li>Expert Mode: several advanced features added, useful for teachers and more experienced students.</li>
      <li>Machine Mode: for advanced students wishing to learn about compilers and machine code.</li>
    </ol>
    <p>This user guide has been divided up in a corresponding manner, and you may select your preferred version below. Just as each mode in the system adds progressively more features, so each version of this guide adds progressively more information, to match what becomes available in the corresponding mode. Beginners may prefer to start with the Simple Guide, so as to avoid information overload; teachers should read (at least) the Expert Guide. Sections are also colour-coded accordingly, so that (for example) teachers can select the Expert Guide, and then easily see at a glance which sections concern the advanced features that may be of interest to them.</p>
    <div class="radio-options">
      <label><input type="radio" name="guide" value="simple"> Simple Guide</label>
      <label><input type="radio" name="guide" value="normal" checked> Normal Guide</label>
      <label><input type="radio" name="guide" value="expert"> Expert Guide</label>
      <label><input type="radio" name="guide" value="machine"> Machine Guide</label>
    </div>
  </section>
  <section id="interface-overview">
    <h4>Interface Overview</h4>
  </section>
  <section id="technical-overview">
    <h4>Technical Overview: what happens when I click ‘RUN’</h4>
  </section>
</section>

<section id="the-language-menu">
  <h3>The LANGUAGE Menu</h3>
</section>

<section id="the-file-menu">
  <h3>The File Menu</h3>
</section>

<section id="the-edit-menu">
  <h3>The Edit Menu</h3>
</section>

<section id="the-view-menu">
  <h3>The View Menu</h3>
</section>

<section id="the-compile-menu" data-mode="expert">
  <h3>The Compile Menu</h3>
</section>

<section id="the-tabs-menu" data-mode="expert">
  <h3>The Tabs Menu</h3>
</section>

<section id="the-run-menu">
  <h3>The Run Menu</h3>
</section>

<section id="the-options-menu">
  <h3>The Options Menu</h3>
</section>

<section id="the-examples-menu">
  <h3>The Examples Menu</h3>
</section>
