{% extends 'base.html.twig' %}

{% block header %}
  <h1>Turtle Languages Specifications</h1>
{% endblock %}

{% block main %}
  <p>Updated specifications for the Turtle languages are currently being prepared. Please check back here soon.</p>
{% endblock %}
