{% extends 'base.html.twig' %}

{% block header %}
  <h1>Turtle Machine Specification</h1>
{% endblock %}

{% block main %}
  <p>Updated documentation for the virtual Turtle Machine is currently being prepared. Please check back here soon.</p>
{% endblock %}
