@import "filename.scss";
@import "editor.scss";
@import "display.scss";
@import "tabs/index.scss";

.system-main {
  height: 100%;

  @media (min-width: $break2) {
    display: grid;
    grid-template-rows: minmax(0, 1fr);
    grid-template-columns: 6fr 7fr;
  }

  .system-section {
    display: grid;
    height: 100%;
    grid-template-rows: auto 1fr;

    &:first-child {
      border-right: 1px solid $gray;
    }
  }
}
