.header {
  p {
    margin: 1rem 0 0;
    text-align: justify;
    font-weight: 500;
    color: #fff;
    font-style: italic;

    a {
      color: inherit;
      text-decoration: underline;
    }

    code {
      font-style: normal;
    }

    @media (min-width: $break1) {
      font-size: 1.0625em;
    }

    @media (min-width: ($break1 + $break2) / 2) {
      margin-left: 2rem;
      margin-right: 5rem;
    }

    @media (min-width: $break2) {
      margin: 1.5rem 0 0;
      font-size: 1.125em;
      margin-left: 4rem;
      margin-right: 8rem;
    }
  }
}
