<section class="tab-pane{%if tab == 'how-to-use-this-guide' %} active{% endif %}" id="how-to-use-this-guide">
  <p>The <i>Turtle System</i> is designed for a wide range of users, from complete beginners who have never programmed before, to more advanced students who want to start learning about compilers, machine code, and memory management. It also has a number of features aimed at teachers (e.g. to aid with marking, or to customize&mdash;and lock&mdash;the system so as to minimize distractions in the classroom). To facilitate all this, the system has four distinct viewing modes (available thtough the VIEWING MODE dialog under the View menu):</p>
  <ol>
    <li>Simple Mode: a minimum set of features, useful for beginners.</li>
    <li>Normal Mode: the default, with a few more features enabled.</li>
    <li>Expert Mode: several advanced features added, useful for teachers and more experienced students.</li>
    <li>Machine Mode: for advanced students wishing to learn about compilers and machine code.</li>
  </ol>
  <p>This user guide has been divided up in a corresponding manner, and you may select your preferred version using the radio buttons at the top of this page. Just as each mode in the system adds progressively more features, so each version of this guide adds progressively more information, to match what becomes available in the corresponding mode. Beginners may prefer to start with the Simple Guide, so as to avoid information overload; teachers should read (at least) the Expert Guide. Sections are also colour-coded accordingly, so that (for example) teachers can select the Expert Guide, and then easily see at a glance which sections concern the advanced features that may be of interest to them.</p>
</section>
