<section class="tab-pane{%if tab == 'the-compile-menu' %} active{% endif %}" data-tab="the-compile-menu">
  <h2>8. The Compile Menu</h2>
  <div data-mode="simple,normal">
    <p>This section is only available in Expert or Machine mode.</p>
  </div>
  <div data-mode="expert,machine">
    <p>To do...</p>
  </div>
</section>
