{% extends 'email.html.twig' %}

{% block content %}
  <p>Dear {{ user.firstname }} {{ user.surname }},</p>
  <p>Thank you for registering for an account at <a href="https://www.turtle.ox.ac.uk">www.turtle.ox.ac.uk</a>. Please click on the button below to activate your account.</p>
  <div class="button">
    <a href="https://www.turtle.ox.ac.uk/verify/{{ user.id }}/{{ user.token }}">Activate My Account</a>
  </div>
  <p>(You have received this email because someone registered for an account on our site using your email address. If this wasn't you, you can safely ignore this message.)</p>
  <br>
  <p>Happy Turtling!</p>
  <p>The Oxford Turtle Robot</p>
{% endblock %}
